@model IndexModel
@inject IStorageInfo Storage

<div class="mt-4 mb-4">
    <div class="jumbotron mb-0" style="background-color: #f4f5f7; padding-top: 30px; padding-bottom: 30px">
        <div class="row align-middle" style="margin-left: 1px">
            <h3>Jet<span style="font-weight: 200">Hub</span></h3>@Global.Version
        </div>
        <p>
            <small>
                Uptime: <i class="fas fa-circle" style="color: #26C281; font-size: x-small; margin-right: 2px"></i>@(Model.System.Uptime)
                |
                Load average: @string.Join(", ", Model.System.LoadAverages.Select(s => $"{s:F2}"))
            </small>
        </p>

        <h6 style="font-weight: 400" class="mb-2">
            Hub Version
            <small style="color: #42526e">
                <i class="fas fa-fingerprint fa-fw"></i> <span id="hub-commitid" title="Commit ID"><a href="https://github.com/namofun/jethub/tree/@Global.CommitId" class="text-reset">@Global.CommitId[0..7]</a></span>
                <i class="fas fa-code-branch fa-fw"></i> <span id="hub-branch" title="Branch: @Global.Branch">@Global.Branch</span>
            </small>
        </h6>

        <h6 style="font-weight: 400" class="mb-0">
            Judgehost Version
            <small style="color: #42526e">
                <i class="fas fa-fingerprint fa-fw"></i> <span id="latest-commitid" title="Commit ID"><a href="https://github.com/namofun/judgehost/tree/@Model.JudgehostCommitId" class="text-reset">@Model.JudgehostCommitId[0..7]</a></span>
                <i class="fas fa-code-branch fa-fw"></i> <span id="latest-branch" title="Branch: @Model.JudgehostBranch">@Model.JudgehostBranch</span>
            </small>
        </h6>
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
        <div class="card border-0 p-4 mb-3" style="background-color: #f4f5f7;">
            <h6 class="font-weight-normal mb-3"><i class="fas fa-microchip"></i>&nbsp;Processor status</h6>
            @foreach (var proc in Model.Cpus.GroupBy(s => s.ModelName))
            {
                int core = proc.Select(s => s.CoreId).Distinct().Count();
                int processor = proc.Count();
                <p class="mb-2"><i class="fas fa-circle @(core < processor ? "text-warning" : "text-success")" title="@(core < processor ? $"{core} core and {processor} threads. Seems that hyper-threading is open, may lead to inaccurate results when judging float-calculation problems." : $"{core} core and {processor} threads. Seems that hyper-threading is disabled, which is good.")" style="font-size: x-small; margin-right: 2px"></i> [@(core)/@(processor)] @proc.Key</p>
            }
            @foreach (var jh in Storage.Judgehosts)
            {
                <p class="mb-2"><i class="fas fa-circle" style="color: #26C281; font-size: x-small; margin-right: 2px"></i> @jh.JudgehostName</p>
            }
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card border-0 p-4 mb-3" style="background-color: #f4f5f7;">
            <h6 class="font-weight-normal mb-3"><i class="fas fa-memory"></i>&nbsp;Storage status</h6>
            <p class="mb-1"><i class="fas fa-circle text-success" style="color: #26C281; font-size: x-small; margin-right: 2px"></i> Memory: @(Model.System.UsedMemoryBytes >> 20)MB / @(Model.System.TotalMemoryBytes >> 20)MB</p>
            <div class="progress mb-3">
                <div class="progress-bar" role="progressbar" style="width: @(Model.System.UsedMemoryBytes * 100 / Model.System.TotalMemoryBytes)%" aria-valuenow="@(Model.System.UsedMemoryBytes * 100 / Model.System.TotalMemoryBytes)" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p class="mb-1"><i class="fas fa-circle text-success" style="font-size: x-small; margin-right: 2px"></i> Swap: @(Model.System.UsedSwapBytes >> 20)MB / @(Model.System.TotalSwapBytes >> 20)MB</p>
            <div class="progress mb-3">
                <div class="progress-bar" role="progressbar" style="width: @(Model.System.TotalSwapBytes == 0 ? 0 : Model.System.UsedSwapBytes * 100 / Model.System.TotalSwapBytes)%" aria-valuenow="@(Model.System.TotalSwapBytes == 0 ? 0 : Model.System.UsedSwapBytes * 100 / Model.System.TotalSwapBytes)" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            @foreach (var hdd in Model.Drives)
            {
                <p class="mb-1"><i class="fas fa-circle @((hdd.UsedSizeBytes + (2u << 30)) < hdd.TotalSizeBytes ? "text-success" : (hdd.UsedSizeBytes + (1u << 30)) < hdd.TotalSizeBytes ? "text-warning" : "text-danger")" style="font-size: x-small; margin-right: 2px"></i> <span title="Mounted at @hdd.MountPoint">@hdd.FileSystem</span>: @((hdd.UsedSizeBytes / 1024.0 / 1024 / 1024).ToString("F2"))GB / @((hdd.TotalSizeBytes / 1024.0 / 1024 / 1024).ToString("F2"))GB</p>
                <div class="progress mb-3">
                    <div class="progress-bar" role="progressbar" style="width: @(hdd.UsedSizeBytes * 100 / hdd.TotalSizeBytes)%" aria-valuenow="@(hdd.UsedSizeBytes * 100 / hdd.TotalSizeBytes)" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            }
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card border-0 p-4 mb-3" style="background-color: #f4f5f7;">
            <h6 class="font-weight-normal mb-3"><i class="fab fa-ubuntu"></i>&nbsp;Kernel status</h6>
            <p class="mb-2"><i class="fas fa-circle text-primary" style="font-size: x-small; margin-right: 2px"></i> Kernel Version: <small>@Model.Kernel.Version</small></p>
            <p class="mb-2"><i class="fas fa-circle @(Model.Kernel.Cmdline.Contains("cgroup_enable=memory") && Model.Kernel.Cmdline.Contains("swapaccount=1") ? "text-success" : "text-danger")" style="font-size: x-small; margin-right: 2px"></i> Boot Cmdline: <small>@Model.Kernel.Cmdline</small></p>
        </div>
    </div>
</div>
